__pycache__/
*.pyc
.*.swp
.#*
#*#
*~
.python_packages
*.sqlite
*.so
*.o
*.log
bin/
lib/
.DS_Store

# VS Code debugger configuration
startup.sh
.vscode/
.env

# Code compiled by Cython:
python/nanoroot/*.c
python/nanoroot/*.cpp
python/nanoroot/*.html
python/protobuf/*.c
python/protobuf/*.cpp
python/protobuf/*.html